<ion-view on-swipe-right="archive.goHome()" title="Archive" ng-controller="ArchiveController as archive">
	<ion-content>

		<div ng-repeat="data in data track by $index">
			<!-- Card Template -->
			<div class="list card" ng-if="data.status == 'archive'">

				<!-- Card Title -->
				<div class="item item-avatar">
					<!-- <img src="sample.jpg"> -->
					<h2>{{data.title}}</h2>
					<p>{{data.date}}</p>
				</div>

				<!-- Card Content -->
				<div class="item item-body">
					<!-- <img class="full-image" src="sampleFull.jpg"> -->
					<p>
						{{data.message}}
					</p>

					<!-- Action buttons -->
					<button class="button button-outline  button-positive button-small" ng-click="archive.markAsNonRead(data.id)">
                <i class="ion-ios-download"></i> Unarchive
          </button>
					<button class="button button-outline  button-assertive button-small" ng-click="archive.deleteMessage(data.id)">
								<i class="ion-close-circled"></i> Delete
					</button>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
