<ion-view on-swipe-left="home.goArchive()" title="Accueil" ng-controller="HomeController as home">
  <ion-content>

    <div ng-repeat="data in data track by $index">
      <!-- Card Template -->
      <div class="list card" ng-if="data.status == 'open'">

        <!-- Card Title -->
        <div class="item item-avatar">
          <!-- <img src="sample.jpg"> -->
          <h2>{{data.title}}</h2>
          <p>{{data.date}}</p>
        </div>

        <!-- Card Content -->
        <div class="item item-body">
          <!-- <img class="full-image" src="sampleFull.jpg"> -->
          <p>
            {{data.message}}
          </p>

          <!-- Action buttons -->
          <!-- <button class="button button-outline  button-assertive button-small" ng-click="data.status = 'archive'"> -->
          <button class="button button-outline  button-assertive button-small" ng-click="home.markAsRead(data.id)">
                <i class="ion-ios-download"></i> Archive
          </button>
        </div>
      </div>

      <!-- Card Template -->
      <div class="list card" ng-if="data.status == 'close'">

        <!-- Card Title -->
        <div class="item item-avatar itemClose">
          <!-- <img src="sample.jpg"> -->
          <h2>?</h2>
          <p>{{data.date}}</p>
        </div>

        <!-- Card Content -->
        <div class="item item-body">
          <!-- <img class="full-image" src="sampleFull.jpg"> -->
          <p>
            Want to open it ?
          </p>

          <!-- Action buttons -->
          <button class="button button-outline button-balanced button-small" ng-click="home.open(data.id)">
                <i class="ion-ios-plus-outline"></i> Open
          </button>
        </div>
      </div>
    </div>



  </ion-content>
</ion-view>
