<ion-view title="Accueil">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <!-- <img src="sample.jpg"> -->
        <h2>Title</h2>
        <p>DD/MM/YYYY</p>
      </div>

      <div class="item item-body">
        <!-- <img class="full-image" src="sampleFull.jpg"> -->
        <p>
          This is a sample card, content will be here in the future !
        </p>
        <p>
          <a href="#" class="subdued">Mark as read</a>
          <a href="#" class="subdued">Save as an image</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
